{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/applications/app-detail.css' %}">
{% endblock %}

{% block content %}
<section class="app-container">
    <div class="app-details">
        <h1>{{ app.company }}</h1>
        <h2>{{ app.position }}</h2>
        {% if app.applied_date %}
            <p><strong>Applied:</strong> {{ app.applied_date }}</p>
        {% endif %}
        <p><strong>Status:</strong> {{ app.status }}</p>
        {% if app.description %}
            <p>{{ app.description }}</p>
        {% endif %}
    </div>

    <div class="tags-section">
        <div class="subsection-title">
            <h2>Tags</h2>
        </div>

        <h3>Current Tags</h3>
        <div class="subsection-content">
            {% if app.tags.count %}
                {% for tag in app.tags.all %}
                    <div class="tag-row">
                        <div class="color-block" style="background-color: {{ tag.color }};"></div>
                        <p>{{ tag.name }}</p>
                        <form action="{% url 'remove-tag' app.id tag.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn danger">Remove</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-toys">No tags yet for this application.</p>
            {% endif %}
        </div>

        <h3>Available Tags</h3>
        <div class="subsection-content">
            {% if available_tags.count %}
                {% for tag in available_tags %}
                    <div class="tag-row">
                        <div class="color-block" style="background-color: {{ tag.color }};"></div>
                        <p>{{ tag.name }}</p>
                        <form action="{% url 'associate-tag' app.id tag.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn submit">Add Tag</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p class="all-toys">This application already has all available tags 🥳</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}


